#title {
    background-color: #FF4C68;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: 700;
    font-size: 1.5rem;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-weight: 300;
    font-size: 1.2rem;
}

/* Title Section */
#title {
    padding-bottom: 8%;
}

.title-buttons {
    position: relative;
}

.title-download-button-left {
    margin: 5% 3% 5% 0;
}

.title-download-button-right {
    margin: 5% 3% 5% 0;
    position: absolute;
}

.title-image {
    width: 60%;
    transform: rotate(15deg);
    right: 15%;
    position: absolute;
}

/* Features Section */
#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.feature-column {
    text-align: center;
}

.feature-icon {
    color: #EF8172;
    margin-bottom: 10px;
}

.feature-icon:hover {
    color: #FF4C68;
}

.feature-subtext {
    color: #8F8F8F;
}

/* Testimonials Section */
#testimonials {
    text-align: center;
    background-color: #EF8172;
    color: white;
    position: relative;
}

#testimonial-carousel {
    overflow: hidden;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */
#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
    padding: 100px; 
    text-align: center;
}

.pricing-column {
    padding: 4% 2%;
}

.short-list-button {
    margin-top: 56px;
}

/* CTA Section */
#cta {
    padding: 5% 15%;
    background-color: #FF4C68;
    text-align: center;
}

.cta-text {
    color: white;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.cta-download-button {
    margin: 8% 2% 0;
}

/* Footer*/
#footer {
    background-color: white;
    padding: 3% 15% 1%;
    text-align: center;
}

.footer-icon {
    margin: 1% 1%;
}

.footer-copyright {
    color: #8F8F8F;
}

@media (max-width: 991px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

    .title-download-button-right {
        position: relative;
    }

}